<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Cristina Gala Sánchez portfolio">
        
        <title>Cristina Gala Portfolio</title>
        <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png"/>
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body>
        <header class="page__header">
            <div class="header">
                <div class="container__home">
                            <h1 class="home__name">Cristina Gala Sánchez</h1>
                            <h2 class="home__role">Front-end Developer</h2>
                        </div>
                <div class="button__menu" id="button__menu">
                    <a href="#">
                        <span></span>
                    </a>
                </div>
                <nav class="burguer" id="burguer" role='navigation'>
                    <div class="container">
                        <div class='container__menu'>
                            <ul class="menu" id="menu">
                                <li class="nav__item">
                                    <a class="nav__link" href="#about"><img title="Sobre mi" alt="" class="icon" src="" />Sobre mi</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#projects"><img title="Trabajos" alt="" class="icon" src="" />Trabajos</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#skills"><img title="Habilidades" class="icon" alt="" src="" />Habilidades</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#social"><img title="Redes sociales" class="icon" alt="" src="" />Redes sociales</a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#contact"><img title="Contacto" class="icon" alt="" src="" />Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </nav>
            </div>
        </header>
        <main>
            <section class="about"  id="about">
                <div class="container__about">
                    <div class="about__content">
                        <h2>Hola!</h2>
                        <img class="about__photo" src="../assets/images/profile.jpg">
                        <p class="about__text">Desarrolladora front-end entusiasmada de la programación y del diseño desde que descubrí este mundo. Ávida por aprender, perfeccionista, pragmática, responsable y organizadora de nacimiento. 
                            Amante de los viajes y de los animales, de las tortitas con nata y del código limpio. 
                            Con muchas ganas de seguir aprendiendo y conocer a fondo este mundo tan apasionante de la programación y de las tecnologías. Con capacidad de adaptación y compromiso.
                            Vengo del área de la educación,y la programación ha sido un gran reto del que seguir disfrutando y conociendo cada día un poco más.
                        </p>
                    </div>
                </div>
            </section>
    
            <section class="projects" id="projects">
                <div class="container__projects">
                    <h2>Proyectos</h2>
                    <ul class="menu__projects">
                        <li class="menu__project">
                            <a class="card--project" href="http://beta.adalab.es/clarke-s2-scriptoras/"><img src="" alt="curriculum">Curriculum</a>
                        </li>
                        <li class="menu__project">
                            <a class="card--project" href=""><img src="" alt=""></a>
                        </li>
                        <li class="menu__project">
                            <a class="card--project" href=""><img src="" alt=""></a>
                        </li>
                    </ul>
            </section>
    
            <section class="skills" id="skills">
                <div class="container__skills">
                    <h2>Habilidades</h2>
                    <ul class="menu__skills">
                        <li>
                            <img src="/icons/html5.svg" alt="html5">
                            <p>HTML5</p>
                        </li>
                        <li>
                            <img src="/icons/css3.svg" alt="css3">
                            <p>CSS3</p>
                        </li>
                        <li>
                            <img src="/icons/javascript.png" alt="javascript">
                            <p>JavaScript</p>
                        </li>
                        <li>
                            <img src="/icons/sass.png" alt="sass">
                            <p>SASS</p>
                        </li>
                        <li>
                            <img src="/icons/gulp.svg" alt="gulp">
                            <p>GULP</p>
                        </li>
                        <li>
                            <img src="/icons/git.png" alt="git">
                            <p>GIT</p>
                        </li>
                        <li>
                            <img src="/icons/es6.png" alt="es6">
                            <p>ES6</p>
                        </li>
                        <li>
                            <img src="/icons/react.png" alt="react">
                            <p>REACT</p>
                        </li>
                        <li>
                            <img src="/icons/atom.png" alt="atom">
                            <p>VISUAL STUDIO</p>
                        </li>
                        <li>
                            <img src="/icons/vsc.svg" alt="vsc">
                            <p>VS Code</p>
                        </li>
                        <li>
                            <img src="/icons/zeplin.jpg" alt="zeplin">
                            <p>ZEPLIN</p>
                        </li>
                        <li>
                            <img src="/iicons/slack.svg" alt="slack">
                            <p>SLACK</p>
                        </li>
                        <li>
                            <img src="/icons/trello.svg" alt="trello">
                            <p>TRELLO</p>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="contact" id="contact">
                <div class="container__contact">
                    <h2>Contacto</h2>
                    <div class="email">
                        <a href="http://" target="_blank">
                            <img src="..assets/icons/email.png" alt="email"> crisgalasanchez@gmail.com
                        </a>
                    </div>
                    <div class="container__networks">
                        <ul class="menu__networks">
                            <li class="menu__network">
                                <a class="menu__link" href="https://www.linkedin.com/in/cristinagalasanchez/">
                                    <img src="../assets/icons/linkedin.png" alt="linkedin">
                                </a>
                            </li>
                            <li class="menu__network">
                                <a class="menu__link" href="https://github.com/crisgalasanchezl">
                                    <img src="../assets/icons/github.png" alt="github">
                                </a>
                            </li>
                            <li class="menu__network">
                                <a class="menu__link" href="https://twitter.com/crisgalasan">
                                    <img src="../assets/icons/twitter.png" alt="twitter">
                                </a>
                            </li>
                        </ul>
                    </div>
            </section>
        </main>
       
        <footer>
            <div class="container__footer">
                <p class="">Copyright © 2018 CRISTINA GALA SÁNCHEZ.</p>
                <a href=""><img src="" alt="">top</a>
            </div>
            
        </footer>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
