<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Cristina Gala Sánchez portfolio">
        
        <title>Cristina Gala Portfolio</title>
        <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png"/>
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body class="body">
        <header class="page__header">
            <div class="header">
                <div class="container__home">
                            <h1 class="home__name">Cristina Gala Sánchez</h1>
                            <h2 class="home__role">Front-end Developer</h2>
                        </div>
                <div class="button__menu" id="button__menu">
                    <a href="#">
                        <span></span>
                    </a>
                </div>
                <nav class="burguer" id="burguer" role='navigation'>
                    <div class="container">
                        <div class='container__menu'>
                            <ul class="menu" id="menu">
                                <li class="nav__item">
                                    <a class="nav__link" href="#about">
                                        <img title="Sobre mi" alt="" class="menu__icon" src="" />
                                        Sobre mi
                                    </a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#projects">
                                        <img title="Proyectos" alt="" class="menu__icon" src="" />
                                        Proyectos
                                    </a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#skills">
                                        <img title="Habilidades" class="menu__icon" alt="" src="" />
                                        Habilidades
                                    </a>
                                        <ul class="nav__item--hability">
                                            <li>H.técnicas</li>
                                            <li>H.personales</li>
                                        </ul>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#contact">
                                        <img title="Contacto" class="menu__icon" alt="" src="" />
                                        Contacto
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </nav>
            </div>
        </header>
        <main>
            <section class="about"  id="about">
                <div class="container__about">
                    <h2 class="title">Hola!</h2>
                    <div class="about__content">
                        <img class="about__photo" src="../assets/images/profile.jpg">
                        <p class="about__text">Desarrolladora front-end entusiasmada de la programación y del diseño desde que descubrí este mundo. Ávida por aprender, perfeccionista, pragmática, responsable y organizadora de nacimiento. 
                            Amante de los viajes y de los animales, de las tortitas con nata y del código limpio. 
                            Con muchas ganas de seguir aprendiendo y conocer a fondo este mundo tan apasionante de la programación y de las tecnologías. Con capacidad de adaptación y compromiso.
                            Vengo del área de la educación,y la programación ha sido un gran reto del que seguir disfrutando y conociendo cada día un poco más.
                        </p>
                    </div>
                </div>
            </section>
    
            <section class="projects" id="projects">
                <div class="container__projects">
                    <h2 class="title">Proyectos</h2>
                    <ul class="menu__projects">
                        <li class="menu__project">
                            <a class="card__project" href="http://beta.adalab.es/clarke-s2-scriptoras/">
                                <img class="card__project--image" src="../assets/images/scriptoras.jpg" alt="curriculum">
                            </a>
                            <!-- <div class="opacity"></div> -->
                            <div class="data__projects">
                                <h4>titulo</h4>
                                <p>description</p>
                            </div>
                        </li>
                        <li class="menu__project">
                            <!-- <a class="card__project" href=""> -->
                            <img class="card__project--image" src="../assets/images/codebreakers.png" alt="codebreakers">
                        
                            <!-- <div class="opacity"></div> -->
                            <div class="data__projects">
                                <h4>titulo</h4>
                                <p>description</p>
                            </div>
                        </li>
                        <li class="menu__project">
                            <a class="card__project" href="">
                                <img class="card__project--image" src="../assets/images/pokemon.png" alt="pokemon">
                            </a>
                            <!-- <div class="opacity"></div> -->
                            <div class="data__projects">
                                <h4>titulo</h4>
                                <p>description</p>
                            </div>
                        </li>
                        <li class="menu__project">
                            <a class="card__project" href="http://beta.adalab.es/clarke-s2-scriptoras/">
                                <img class="card__project--image" src="../assets/images/federici.png" alt="federici">
                            </a>
                            <!-- <div class="opacity"></div> -->
                            <div class="data__projects">
                                <h4>titulo</h4>
                                <p>description</p>
                            </div>
                        </li>
                    </ul>
            </section>
    
            <section class="skills" id="skills">
                <div class="container__skills">
                    <h2 class="title">Habilidades</h2>
                    <h3 class="title--skills">Habilidades técnicas</h3>
                    <ul class="skills__tecnical">
                        <li class="menu__skill">
                            <img class="icon" src="../html5.png" alt="html5">
                            <p>HTML5</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../css3.png" alt="css3">
                            <p>CSS3</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../javascript.png" alt="javascript">
                            <p>JS</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../sass.png" alt="sass">
                            <p>SASS</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../gulp.png" alt="gulp">
                            <p>GULP</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../git.png" alt="git">
                            <p>GIT</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../es6.png" alt="es6">
                            <p>ES6</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../react.png" alt="react">
                            <p>REACT</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../visualstudio.png" alt="atom">
                            <p>VSC</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../atom.png" alt="vsc">
                            <p>ATOM</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../zeplin.png" alt="zeplin">
                            <p>ZEPLIN</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../slack.png" alt="slack">
                            <p>SLACK</p>
                        </li>
                        <li class="menu__skill">
                            <img class="icon" src="../trello.png" alt="trello">
                            <p>TRELLO</p>
                        </li>
                    </ul>
                    <h3 class="title--skills">Habilidades personales</h3>
                    <ul class="skills__personal">
                        <li>
                            <img class="icon" src="../listSkills.png" alt="skills">Gestión de proyectos
                        </li>
                        <li>
                            <img class="icon" src="../listSkills.png" alt="skills">Trabajo en equipo
                        </li>
                        <li>
                            <img class="icon" src="../listSkills.png" alt="skills">Proactividad
                        </li>
                        <li>
                            <img class="icon" src="../listSkills.png" alt="skills">Capacidad de adaptación
                        </li>
                        <li>
                            <img class="icon" src="../listSkills.png" alt="skills">Planificación y organización
                        </li>
                        <li>
                            <img class="icon" src="../listSkills.png" alt="skills">Capacidad para asumir retos
                        </li>
                    </ul>
                </div>
            </section>

            <section class="contact" id="contact">
                <div class="container__contact">
                    <h2 class="title">Contacto</h2>
                    <div class="email">
                        <a href="mailto:crisgalasanchez@gmail.com" target="_blank">
                            <img class="icon" src="../email.png" alt="email">
                        </a>
                        <p> crisgalasanchez@gmail.com</p>
                    </div>
                    <div class="container__networks">
                        <ul class="menu__networks">
                            <li class="menu__network">
                                <a class="menu__link" href="https://www.linkedin.com/in/cristinagalasanchez/" target="_blank">
                                    <img class="icon" src="../linkedin.png" alt="linkedin">
                                </a>
                            </li>
                            <li class="menu__network">
                                <a class="menu__link" href="https://github.com/crisgalasanchez" target="_blank">
                                    <img class="icon" src="../github.png" alt="github">
                                </a>
                            </li>
                            <li class="menu__network">
                                <a class="menu__link" href="https://twitter.com/crisgalasan" target="_blank">
                                    <img class="icon" src="../twitter.png" alt="twitter">
                                </a>
                            </li>
                        </ul>
                    </div>
            </section>
        </main>
       
        <footer>
            <div class="container__footer">
                <p class="footer__copy">Copyright © 2018</p>
                <p class="footer__name">CRISTINA GALA SÁNCHEZ.</p>
                <a id="up" title="Up" class="invisible">
                    <img src="../up.png" alt="Up">
                </a>
            </div>
            
        </footer>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
