//**ABOUT**
.about__content {
    @media all and (min-width:768px) {
       display: flex;
    }
}
.about__photo{
    border: 10px groove #B55545;
    border-radius: 100px;
    margin: 10px;
    height: 300px;
}

//**PROJECTS**
.menu__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu__project{
    height: 200px;
    width: 250px;
}
.card__project--image{
    width: 100%;
}
.opacity{
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 80%;
    opacity: 0;
    transition: linear .8s;
}
.data__projects {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%,-50%);
    display: none;
}
//**SKILLS**
.icon{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.skills__tecnical{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media all and (min-width:768px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
     }
}
.menu__skill{
    display: flex;
    padding-bottom: 10px;
}
.skills__personal{
    display: grid;
    grid-template-columns: 1fr;
    @media all and (min-width:768px) {
        grid-template-columns: 1fr 1fr;
     }
}

//**CONTACT**
.email{
    text-align: center;
    padding: 50px;
}
.menu__networks{
    display: flex;
    justify-content: center;
}
.menu__network{
    margin:10px;
    padding: 0;
}