//**ABOUT**
.about__content {
    @media all and (min-width:768px) {
       display: flex;
    }
}
.about__photo{
    border: 10px groove #B55545;
    border-radius: 100px;
    margin: 10px;
    height: 270px;
}

//**PROJECTS**
.menu__projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.menu__project{
    position: relative;
    width: 300px;
    padding: 15px;
}
.card__project--image{
    display: block;
    width: 100%;
}
.data__project {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $colorHover;
    overflow: hidden;
    width: 0;
    height: 100%;
    opacity: 0.9;
    transition: .5s ease;
}
.menu__project:hover .data__project {
    width: 100%;
  }

//**SKILLS**
.icon{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.skills__tecnical{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    @media all and (min-width:768px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
     }
}
.menu__skill{
    display: flex;
    padding-bottom: 10px;
}
.skills__personal{
    display: grid;
    grid-template-columns: 1fr;
    @media all and (min-width:768px) {
        grid-template-columns: 1fr 1fr;
     }
}

//**CONTACT**
.email{
    text-align: center;
    padding: 50px;
}
.menu__networks{
    display: flex;
    justify-content: center;
    padding: 0;
}
.menu__network{
    margin:10px;
}