.page__header {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 0.6em;
    z-index: 2;
}
.header {
    width: 100%;
    min-height: 80px;
    background-color:$colorPrimary;
    position: fixed;
    display: flex;
    // flex-direction: row;
    //align-items: center;
    top: 0;
    left: 0;
    opacity: 0.9;

}
.container__home{
    font-family: 'Gloria Hallelujah', serif;
    color: #312c2c;
    padding: 10px 0px 10px 30px; 
    @media all and (min-width:768px) {
        display: flex;
        flex-direction: row;
     }
}
.home__name{
    font-size: 2.6em;
    @media all and (min-width:768px) {
        font-size: 3em;
     }
}
.home__role{
    font-size: 2em;
    @media all and (min-width:768px) {
        font-size: 1.8em;
        padding: 12px 0px 0px 40px;
     }
}

.burguer {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(-1000%);
    transition: transform ease 0.7s;
    @media all and (min-width:768px) {
        width: 100%;
        transition: none;
        transform: none;
     }
 }

.menu__visible .burguer {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    transform: translateX(0);
    transition: transform ease 0.7s;
}

.container__menu {
    background-color: #f3d7d2;
    opacity: 1;
    margin-top: 65px;
	padding-left: 0;
    z-index: 1;
}

.menu{
    list-style: none;
    text-align: center;
    padding-left: 0;
    font-size: 1.5em;
    
    @media all and (min-width:768px) {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        margin-top: 30px
     }
}

.nav__item{
    display: block;
    padding: 15px;
    &:hover {
        background-color:#d6716c;
        text-decoration: none;
        color: $colorPrimary;
    }
    @media all and (min-width:768px) {
        display: inline;
     }
}

.nav__item--hability{
    display: none;
}
.nav__link {
    text-decoration: none;
    color:$colorPrimary;
    font-weight: 600;
    @media all and (min-width:768px) {
        padding: 0;
     }
     &:hover {
        background-color:#d6716c;
        text-decoration: none;
        color: $colorPrimary;
    }
}
.logo{
    height: 45px;
    margin-left: 66px;
}

