* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Prompt', serif;
}
/*.home {
    padding-top: 150px;
    background: url(../images/background.jpg) center no-repeat  #fff; 
    background-size: cover;
}*/
.page__header {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 0.6em;
}
.header {
    width: 100%;
    height: 130px;
    min-height: 80px;
    background-color:#B55545;
    //position: fixed;
    // flex-direction: row;
    //align-items: center;
    top: 0;
    left: 0;

}
.container__home{
    color: #312c2c;
    padding: 10px 0px 0px 15px; 
}
.home__name{
    font-family: 'Gloria Hallelujah', serif;
    font-size: 2.3em;
}

.burguer {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: transform ease 0.7s;
    transform: translateX(-1000%);
}

.menu__visible .burguer {
    transform: translateX(0);
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.container__menu {
    background-color:white;
    opacity: 1;
    margin-top: 60px;
	padding-left: 0;
    z-index: 1;
}

.menu{
    max-width: 530px;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.nav__item{
    display: block;
    padding: 15px;
}

.nav__item:hover{
    background-color:#C2AFAE;
    text-decoration: none;
    color: #B55545;
}

.nav__link {
    text-decoration: none;
    color:#B55545;
    font-weight: 600;
    padding: 3%;
}

#button__menu {
    cursor: pointer; 
    padding: 25px 25px 15px 15px;
    z-index: 1;
    display: block;
    position: fixed;
}

#button__menu span, #button__menu span:before, #button__menu span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 30px;
    background-color: black;
    position: absolute;
    display: block;
    content: '';
}

.logo{
    height: 45px;
    margin-left: 66px;
}

#button__menu span:before {
    top: -10px;
}

#button__menu span:after {
    bottom: -10px;
}

#button__menu span, #button__menu span:before, #button__menu span:after {
    transition: all 500ms ease-in-out;
}

#button__menu.active span {
    background-color: transparent;
}

#button__menu.active span:before, #button__menu.active span:after {
    top: 0;
}

#button__menu.active span:before {
    transform: rotate(45deg);
}

#button__menu.active span:after {
    transform: rotate(-45deg);
}

.icon{
    position: relative;
    top: 5px;
}
main{
    margin-top: 150px;
    margin-left: 25px;
    margin-right: 20px;
}

//**ABOUT**
.about__photo{
    border: 10px groove #B55545;
    border-radius: 100px;
    margin: 10px;
}
.about__text{
    text-align: justify;
    line-height: 1.2;
}

.container__footer{
    background-color: #554342;
    color:#C2AFAE;
}
